@model HealthApp.ViewModels.Onboarding.OnboardingWaterIntakeViewModel
@section Styles {
	<link rel="stylesheet" href="~/css/onboarding.css" />
}




<div class="onboarding">

	<div class="onboarding-top-section">

		<div class="onboarding-back">
			<a asp-controller="Onboarding" asp-action="OnboardingGoalWeight">
				<i class="fa-solid fa-chevron-left"></i>
			</a>
		</div>


		<div class="progress-container">
			<div class="progress-bar" style="width: 70%;"></div>
		</div>

		<div>
		</div>
	</div>


	<div class="drink">



		<form asp-action="OnboardingWaterIntake" method="post" class="drink-form">



			<div class="drink-flex drink-input">

				<div class="drink-label" id="drink-question">How many glasses of each drink do you consume daily?</div>


				@foreach (var drink in Model.DrinkTypes)
				{
					<div class="drink-item">
						<div class="drink-label">@drink.Label <small>(@drink.Volume ml)</small></div>
						<div class="drink-controls">
							<button type="button" onclick="adjustCount('@drink.Name', -1)">–</button>
							<input type="number" id="@drink.Name" name="@drink.Name" value="0" readonly />
							<button type="button" onclick="adjustCount('@drink.Name', 1)">+</button>
						</div>
					</div>
				}
			</div>


			<div class="drink-submit">
				<button type="submit" class="nomie-btn">Continue</button>
			</div>


		</form>

	</div>
</div>


@section Scripts {
	<script>
		function adjustCount(id, delta) {
			const input = document.getElementById(id);
			let value = parseInt(input.value) + delta;
			if (value < 0) value = 0;
			input.value = value;
		}
	</script>
}